<section class="mt-5">
  <div class="mt-5 mb-3 justify-content-between d-flex align-items-center">
    <p class="sumukham-h-1">Rudraksha Store</p>
    <button class="custom-btn">Explore All</button>
  </div>

  <div class="rudraksh-banner">
    <div class="row">
      <div class="col-6">
        <img src="rudraksh_b2.png" alt="Background" class="img-back" />
        <img src="rudraksh_b1.png" alt="Foreground" class="img-front" />
      </div>
      <div class="col-6 rudraksh-banner-section">
        <p class="sumukham-h-1 rudraksh-banner-heading">Rudraksha</p>

        <p class="sumukham-p-1 rudraksh-banner-content">
          Rudraksha, the sacred seed of Lord Shiva, carries divine energy and
          protection. Each bead at Sumukham is pure, authentic, and energized.
          Wear it to invite peace, strength, and spiritual growth into your
          life.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="card-container">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.image" alt="{{ product.title }}" />

        <div class="product-details">
          <h3>{{ product.title }}</h3>

          <div class="rating">
            <span class="star">★</span>
            <span>{{ product.rating }} ({{ product.reviews }} Reviews)</span>
          </div>

          <p class="price">₹ {{ product.price | number }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
