<section class="mt-5">
  <div class="mt-5 mb-3 justify-content-between d-flex align-items-center">
    <p class="sumukham-h-1">Explore Healing Crystal Store</p>
    <button class="custom-btn" [routerLink]="['/products']" [queryParams]="{ category: 'crystals' }">Explore All</button>
  </div>

  <div class="crystal-banner">
    <div class="row">
      <div class="col-12 col-lg-4 text-center text-lg-start">
        <img src="crystal_bg.png" alt="Background" class="img-back" />
      </div>
      <div
        class="col-12 col-lg-8 text-center text-lg-end crystal-banner-section p-4 pe-4 pe-lg-5"
      >
        <p class="sumukham-h-1 crystal-banner-heading">Healing Crystals</p>

        <p class="sumukham-p-1 crystal-banner-content">
          Crystals are nature’s gift, carrying energies that heal, protect, and
          empower. Each piece at Sumukham is Authentic and Carefully Chosen for
          its vibration. Bring balance, positivity, and strength into your
          everyday life.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="card-container">
      <ng-container *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </ng-container>
    </div>
  </div>
</section>
