<div class="login-screen">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-4"></div>
      <div class="col-md-8 col-lg-4">
        <div class="login-wrapper">
          <div class="login-card shadow">
            <div class="brand-header">
              <img class="img-fluid" src="golden_logo.png" alt="" />
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4">
              <p class="mb-3 form-heading">
                <span>Login</span> or <span>Signup</span>
              </p>

              <!-- Mobile -->
              <div class="mb-3">
                <div class="input-group">
                  <select
                    class="form-select country-code-select"
                    formControlName="countryCode"
                    style="max-width: 90px"
                  >
                    <option value="+91">+91</option>
                    <option value="+1">+1</option>
                    <option value="+44">+44</option>
                  </select>
                  <input
                    type="text"
                    class="form-control mobile-input"
                    placeholder="Mobile Number"
                    formControlName="mobile"
                  />
                </div>

                <div
                  class="text-danger small mt-1"
                  *ngIf="mobile?.invalid && mobile?.touched"
                >
                  Enter valid mobile number
                </div>
              </div>

              <!-- Email -->
              <div class="mb-3">
                <input
                  type="email"
                  class="p-3 email-input"
                  placeholder="Email"
                  formControlName="email"
                />
                <div
                  class="text-danger small mt-1"
                  *ngIf="email?.invalid && email?.touched"
                >
                  Enter valid email
                </div>
              </div>

              <!-- Terms -->
              <div class="form-check mb-4 form-check-data">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="terms"
                  formControlName="terms"
                />
                <label class="form-check-label small" for="terms">
                  By continuing, I agree to the
                  <a href="#">Terms of use</a> &
                  <a href="#">Privacy Policy</a> and I am above 18 years old.
                </label>
              </div>

              <!-- Submit -->
              <button
                class="btn btn-primary submit-btn w-100"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Continue
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-4"></div>
    </div>
  </div>
</div>
