<div class="row pujan-banner mt-5">
  <div class="col-12 col-md-8 py-4 px-5">
    <p class="sumukham-h-1 pujan-banner-header">
      Pujan, Astrology & Tarot Reading
    </p>

    <p class="mt-4 sumukham-p-1">
      At Sumukham, we go beyond essentials: we bring you guidance and support
      for every step of your spiritual journey.
    </p>

    <ul>
      <li class="sumukham-p-1">
        <strong class="pujan-banner-content-heading">Pujan Services</strong> -
        Book Pandit ji & get Authentic Samagri for every ritual.
      </li>
      <li class="sumukham-p-1">
        <strong class="pujan-banner-content-heading">Astrology</strong> -
        Personalized guidance for life, career & relationships.
      </li>
      <li class="sumukham-p-1">
        <strong class="pujan-banner-content-heading">Tarot Reading </strong> -
        Clarity, direction & healing through intuitive readings.
      </li>
    </ul>
    <div class="mt-4">
      <button class="custom-dark-btn">Know More</button>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <img class="img-fluid" src="pujan_banner.png" alt="" />
  </div>
</div>
