/* You can add global styles to this file, and also import other style files */

.sumukham-h-1 {
  font-size: 40px !important;
  font-weight: 500 !important;
  font-family: "Domaine Display Narrow" !important;
}

.sumukham-h-3 {
  font-size: 24px !important;
  font-weight: 500 !important;
  font-family: "Domaine Display Narrow" !important;
}

.sumukham-p-1 {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif !important;
}

.sumukham-p-2 {
  font-size: 20px !important;
  font-family: "Open Sans", sans-serif !important;
}
