.about-heading {
  font-size: 40px;
  font-weight: 500;
  font-family: "Domaine Display Narrow";
}

.about-description {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.custom-btn {
  background: #fff;
  color: #aa1e2c; /* red text */
  border: 1px solid #aa1e2c; /* red border */
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 30px; /* pill shape */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 8px 0px 0px -0.5px rgba(170, 30, 44, 1);
}

.custom-btn:hover {
  background: #aa1e2c; /* red background */
  color: #fff; /* white text */
}
