<footer class="footer text-center text-lg-start">
  <div class="footer-container container-fluid px-5">
    <!-- Left Section -->
    <div class="footer-section">
      <div>
        <img class="img-fluid" src="golden_logo.png" alt="" />
      </div>
      <div class="contact-info mt-3">
        <p class="mb-1">
          We're here to help! For any feedback, queries, or complaints, please
          reach out at:
        </p>
        <p class="mb-1"><a href="tel:+918770762125">+91 8770762125</a></p>
        <p class="mb-1">
          <a href="mailto:info@sumukham.com">info@sumukham.com</a>
        </p>
      </div>
      <div class="social-icons">
        <a href="#">
          <img src="instagram.png" alt="" />
        </a>
        <a href="https://wa.me/918770762125" target="_blank">
          <img src="whatsapp.png" alt=""
        /></a>
        <a href="#"> <img src="facebook.png" alt="" /></a>
      </div>
    </div>

    <!-- Links -->
    <div class="footer-section">
      <h3>Links</h3>
      <ul>
        <li><a href="#">About Sumukham</a></li>
        <li><a href="#">Our Blogs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <!-- Policies -->
    <div class="footer-section">
      <h3>Policies</h3>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Shipping Policy</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

    <!-- Popular -->
    <div class="footer-section">
      <h3>Popular</h3>
      <ul>
        <li><a href="#">Rudraksha</a></li>
        <li><a href="#">Crystal Bracelets</a></li>
        <li><a href="#">Pujan Samagri</a></li>
        <li><a href="#">Gift Sets</a></li>
      </ul>
    </div>
  </div>

  <hr />
  <p class="copyright">Copyright © Sumukham 2024</p>
</footer>
