<section class="mt-5">
  <div class="mt-5 text-center text-lg-start">
    <p class="sumukham-h-1">Shop by Category</p>
    <p class="sumukham-p-2">
      Lorem ipsum dolor sit amet consectetur. Pulvinar accumsan non tortor id
      senectus urna diam e
    </p>
  </div>

  <div class="categories">
    <div class="text-center" *ngFor="let category of categories">
      <img [src]="category.image" [alt]="category.title" />
      <p class="sumukham-h-3 mt-3">{{ category.title }}</p>
    </div>
  </div>
</section>
